<div class="modal-header">
    <h3 class="modal-title">Create a new Chat room</h3>
     <div class="modal-body">
         <form>
             <label for="roomName">Enter Room Name</label>
             <input required type='text' maxlength="15" ng-    model="room.name">
          </form>

         <div class="modal-footer">
             <button class="btn btn-primary" type="button" ng-click="modal.cancel()">Cancel</button>
             <button class="btn btn-warning" type="button" ng-click="modal.addRoom()">Create Room</button>
         </div>
     </div>
</div>
